@page
@using bubbleTeaProject

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css"/>
</head>

<body >

<div style="display: flex; padding-top: 35px;padding-left:25px ">

    <div style="padding-inline: 50px; padding-top: 40px">
        <div class="image-container" >
            <img src="images/main2.png" class="main-img " />
        </div>
    </div>

    <div style="flex-direction: column;">
        <div class="main-txt">Bubble Tea</div>
        <div class="rest-txt">Your sign to be happy</div>
  
        <a asp-page="/Catalog"><button class="button">купить!</button></a>
      
    </div>


</div>



<img style="width: 100%; height: auto;display: block;
            margin: 0;
            padding: 0; position: absolute; left: 0px " src="~/images/line.png" />




</body>
</html>