body {
    background: #ff399b;
}

/*רנטפע*/
@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/main-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MainFont';
    src: url('/fonts/ua-BRAND-bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

